<a href="https://colab.research.google.com/github/LuisOTSG/minicurso-cds/blob/main/aula02_minicurso_ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importação de bibliotecas e leitura de arquivos**

In [1]:
import pandas as pd
import io
import numpy as np

from google.colab import files

In [2]:
arq = files.upload()

Saving AB_NYC_2019.csv to AB_NYC_2019.csv

In [3]:
df = pd.read_csv(io.BytesIO(arq['AB_NYC_2019.csv']))

# **Inspeção do conjunto de dados**

In [4]:
# Retornar o tipo da variável
type(df)

pandas.core.frame.DataFrame

In [5]:
# Retornar o tamanho do dataframe (linhas e colunas)
df.shape

(48895, 16)

In [6]:
# Mostrar as 5 primeiras linhas do dataframe
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [7]:
# Retornar o tipo de dado de cada coluna
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [8]:
# Verificar o número de dados faltantes em cada coluna
df.isna().sum()
# df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [9]:
# Retornar informações gerais do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

# **Manipulação de dados**

In [10]:
# Selecionar colunas desejadas no dataframe
# df.loc[linhas, colunas] 
cols = ['host_name', 'price']
# ':' é um comando que seleciona todas as linhas e as colunas estão em uma variável
df1 = df.loc[:, cols]
df1.head()

     host_name  price
0         John    149
1     Jennifer    225
2    Elisabeth    150
3  LisaRoxanne     89
4        Laura     80

In [11]:
# Deletando as linhas que tenham ao menos uma coluna com valor faltante
df1 = df.dropna()

In [12]:
df1.shape

(38821, 16)

# **Respondendo à perguntas de negócio**

## **Qual o valor médio do aluguel na cidade de Nova York?**

In [13]:
cols = ['price']

price = df1.loc[:, cols]

np.mean(price)

price    142.332526
dtype: float64

## **Qual o nome das regiões?**

In [14]:
cols = ['neighbourhood_group']

regiao = df1.loc[:, cols]

np.unique(regiao)

array(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

## **Qual o valor máximo do aluguel na cidade de Nova York?**

In [15]:
cols = ['price']

price = df1.loc[:, cols]

np.max(price)

price    10000
dtype: int64